<p id="notice"><%= notice %></p>

<h1>Listing Legislatures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Starts On</th>
      <th>Ends On</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legislatures.each do |legislature| %>
      <tr>
        <td><%= legislature.name %></td>
        <td><%= legislature.status %></td>
        <td><%= legislature.starts_on %></td>
        <td><%= legislature.ends_on %></td>
        <td><%= link_to 'Edit', edit_legislature_path(legislature) %></td>td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New legislature', new_legislature_path %>