<%= form_for [:admin, @legislature], html: { class: 'form-horizontal'} do |f| %>
  <% if @legislature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@legislature.errors.count, "error") %> prohibited this legislature from being saved:</h2>
      <ul>
      <% @legislature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :starts_on, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :starts_on, type: 'date', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ends_on, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :ends_on, type: 'date', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <label><%= f.check_box :status %> Activo</label>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type='submit' class='btn btn-primary'>Save</button>
    </div>
  </div>
<% end %>